<div class="flex w-11/12 mx-auto gap-3 pb-20">
    <div style="width: 33%;" class="flex flex-col gap-3 p-2 border rounded shadow task-container">
        <div class="flex flex-col gap-3">
            <p class="ps-2 text-lg font-medium">To Do</p>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoTasks" [cdkDropListConnectedTo]="[inProgressList, completedList]"
                (cdkDropListDropped)="drop($event)" class="flex flex-col gap-5 min-h-[200px]">
                <app-task-card cdkDrag [cdkDragData]="task" *ngFor="let task of todoTasks" [task]="task" class="p-1"></app-task-card>
            </div>
        </div>

        <div class="flex flex-col w-full">
            <button type="button"
                class="rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md w-50 self-end"
                data-bs-toggle="modal" data-bs-target="#createModal" (click)="toggleTaskForm('to-do')">
                + Create Task
            </button>
        </div>
    </div>
    <div style="width: 33%;" class="flex flex-col gap-3 p-2 border rounded shadow task-container">
        <div class="flex flex-col gap-3">
            <p class="ps-2 text-lg font-medium">In Progress</p>
            <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressTasks" [cdkDropListConnectedTo]="[todoList, completedList]"
                (cdkDropListDropped)="drop($event)" class="flex flex-col gap-5 min-h-[200px]">
                <app-task-card cdkDrag [cdkDragData]="task" *ngFor="let task of inProgressTasks" [task]="task" class="p-1"></app-task-card>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <button type="button"
                class="rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md w-50 self-end"
                data-bs-toggle="modal" data-bs-target="#createModal" (click)="toggleTaskForm('in-progress')">
                + Create Task
            </button>
        </div>
    </div>
    <div style="width: 33%;" class="flex flex-col gap-3 p-2 border rounded shadow task-container">
        <div class="flex flex-col gap-3">
            <p class="ps-2 text-lg font-medium">Done</p>
            <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="completedTasks" [cdkDropListConnectedTo]="[todoList, inProgressList]"
                (cdkDropListDropped)="drop($event)" class="flex flex-col gap-5 min-h-[200px]">
                <app-task-card cdkDrag [cdkDragData]="task" *ngFor="let task of completedTasks" [task]="task" class="p-1"></app-task-card>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <button type="button"
                class="rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md w-50 self-end"
                data-bs-toggle="modal" data-bs-target="#createModal" (click)="toggleTaskForm('completed')">
                + Create Task
            </button>
        </div>
    </div>
</div>
<div *ngIf="isOpen" class="fixed w-full h-full top-0 left-0 items-center flex justify-center z-40 task-popup-background">
    <div
        class="bg-white w-7/12 h-fit shadow-xl border-r border-l border-gray-700 flex flex-col items-center overflow-y-auto rounded-md md:h-fit task-form-container">
        <div class="w-full h-6">
            <div class="flex justify-end bg-black h-full rounded-tr-md rounded-tl-md">
                <p (click)="toggleTaskForm()" class="text-1xl text-white font-bold cursor-pointer mr-3 mb-1">&times;</p>
            </div>
        </div>
        <app-task-form class="w-3/4" [editMode]="isEdited" [status]="status" [taskToEdit]="currentTask" />
    </div>
</div>