<div class="flex overflow-x-auto gap-3">
    <div class="flex flex-col gap-3 p-2 border rounded shadow task-container w-2/3 flex-shrink-0 md:flex-shrink md:w-1/3">
        <div class="flex flex-col gap-3">
            <p class="ps-2 text-lg font-medium">To Do</p>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoTasks" [cdkDropListConnectedTo]="[inProgressList, completedList]"
                (cdkDropListDropped)="drop($event)" class="flex flex-col gap-5 min-h-[200px]">
                <app-task-card cdkDrag [cdkDragData]="task" *ngFor="let task of todoTasks" [task]="task" class="p-1"></app-task-card>
            </div>
        </div>

        <div class="flex flex-col w-full">
            <button type="button"
                class="rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md w-50 self-end"
                data-bs-toggle="modal" data-bs-target="#createModal" (click)="openTaskForm('to-do')">
                + Create Task
            </button>
        </div>
    </div>
    <div class="flex flex-col gap-3 p-2 border rounded shadow task-container w-2/3 flex-shrink-0 md:flex-shrink md:w-1/3">
        <div class="flex flex-col gap-3">
            <p class="ps-2 text-lg font-medium">In Progress</p>
            <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressTasks" [cdkDropListConnectedTo]="[todoList, completedList]"
                (cdkDropListDropped)="drop($event)" class="flex flex-col gap-5 min-h-[200px]">
                <app-task-card cdkDrag [cdkDragData]="task" *ngFor="let task of inProgressTasks" [task]="task" class="p-1"></app-task-card>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <button type="button"
                class="rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md w-50 self-end"
                data-bs-toggle="modal" data-bs-target="#createModal" (click)="openTaskForm('in-progress')">
                + Create Task
            </button>
        </div>
    </div>
    <div class="flex flex-col gap-3 p-2 border rounded shadow task-container w-2/3 flex-shrink-0 md:flex-shrink md:w-1/3">
        <div class="flex flex-col gap-3">
            <p class="ps-2 text-lg font-medium">Done</p>
            <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="completedTasks" [cdkDropListConnectedTo]="[todoList, inProgressList]"
                (cdkDropListDropped)="drop($event)" class="flex flex-col gap-5 min-h-[200px]">
                <app-task-card cdkDrag [cdkDragData]="task" *ngFor="let task of completedTasks" [task]="task" class="p-1"></app-task-card>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <button type="button"
                class="rounded-md shadow-sm text-white font-medium bg-black py-3 px-2 transition-all duration-200 hover:bg-gray-950 hover:shadow-md w-50 self-end"
                data-bs-toggle="modal" data-bs-target="#createModal" (click)="openTaskForm('completed')">
                + Create Task
            </button>
        </div>
    </div>
</div>